<div class="high-footer">
    <a href="#main-slider">
        <div class="logo-container">
            <img class="logo dark" src="assets/arctech-logo-dark.svg" alt="Arctech logo">
        </div>
    </a>
    <div class="footer-menu-container">
        <span class="footer-column-title">Menu</span>
        <nav>
            <a href="#features">Vantaggi</a>
            <a href="#gallery">Galleria</a>
            <a href="#contact-us">Contattami</a>
            <a href="#contact-us">Chi sono</a>
        </nav>
    </div>
    <!--
    <div class="footer-menu-container">
        <span class="footer-column-title">Social</span>
        <nav>
            <a [routerLink]="['under-construction']">Instagram</a>
            <a [routerLink]="['under-construction']">Facebook</a>
            <a [routerLink]="['under-construction']">Youtube</a>
        </nav>
    </div>
    -->
    <div class="footer-menu-container">
        <span class="footer-column-title">Servizi</span>
        <nav>
            <a [routerLink]="['under-construction']">Social media</a>
            <a [routerLink]="['under-construction']">Sviluppo web</a>
        </nav>
    </div>
    <div class="footer-menu-container">
        <span class="footer-column-title">Legale</span>
        <nav>
            <a [routerLink]="['under-construction']">Privacy policy</a>
            <a [routerLink]="['under-construction']">Cookie policy</a>
        </nav>
    </div>
</div>
<div class="low-footer">
    <div class="low-footer-inner">
        <span class="copyright">Copyright Arctech 2021</span>
        <div class="social-container">
        </div>
    </div>
</div>