<img class="glassmorphism"
src="/assets/images/ritratto-margo.jpeg"
alt="Ritratto di Marco Sandroni"
loading="lazy">
<div class="column">
<h2>Marco Sandroni</h2>
<span class="subtitle">Coach di padel e esperto di flessibilità</span>
<p>Lo stretching non dovrebbe essere visto come un noioso obbligo da portare a termine alla fine di ogni allenamento, per questo ho deciso di produrre una panca stretching che consenta a tutti di migliorare la fleessbilità delle proprie gambe iniziando dalla loro situazione attuale.</p><p>La maggior parte degli esercizi a corpo libero non riescono a allungare i muscoli delle gambe con la stessa efficacia della nostra panca e l'esercizio con un sovraccarico non è praticabile per tutti e sottopone a un rischio di infortunio maggiore. Per questo ho creato una soluzione regolabile, personalizzabile e economica per le palestre!</p>
<!--
<div class="social-container">
    <a href="" class="social-link">
        <img src="/assets/social/instagram-svgrepo-com.svg" alt="Profilo Instagram" loading="lazy">
    </a>
    <a href="" class="social-link">
        <img src="/assets/social/facebook-svgrepo-com.svg" alt="Pagina Facebook" loading="lazy">
    </a>
    <a href="" class="social-link">
        <img src="/Assets/Icons/Social/youtube-svgrepo-com.svg" alt="Youtube channel" loading="lazy">
    </a>
</div>-->
</div>