:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
/*     background: url("https://cdn.pixabay.com/photo/2016/08/01/14/44/fist-1561157_1280.jpg"); */


    form {
        display: flex;
        flex-direction: column;
        gap: .4em;
        align-items: center;
        padding: 3em 1em;
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
        box-sizing: border-box;

        .mc-field-group {
            width: 100%;
        }

        h2 {
            margin-top: 0;
            text-align: center;
        }
        input:not([type=submit]) {
            width: 100%;
            margin-top: 0.2em;
            height: 2.3em;
            box-sizing: border-box;
        }
        .btn {
            background-color: var(--color-accent,red);
            background: var(--linear-gradient-accent);
            color: var(--color-bright,white);
            border: none;
            align-self: flex-start;
        }

    }
}