<form action="" class="glassmorphism">
    <h2>Contattaci</h2>
    <label>Nome
        <input type="text" name="name">
    </label>
    <label>Cognome
        <input type="text" name="surname">
    </label>
    <label>Email
        <input type="email" name="email" required>
    </label>
<!--             <label>Messaggio
        <textarea name="message" id="message" cols="30" rows="10">
            Scrivimi e sarò lieto di farti avere le informazioni che desideri o di fare una chiacchierata con te...
        </textarea>
    </label> -->
    <input type="submit" class="btn" value="Invia">
</form>