<div class="section-title-container">
    <h2>Vantaggi</h2>
    <span class="subtitle">Cosa ci rende unici</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, facilis.</p>
</div>
<div class="feature-box-container">
    <div class="feature-box glassmorphism">
        <h3>Stretching passivo</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus rem tempore dolorem reiciendis?
            Doloremque, nam.</p>
    </div>
    <div class="feature-box glassmorphism">
        <h3>Personalizzazione</h3>
        <p>E' possibile richiedere la panca stretching nel colore desiderato, integrandosi
            perfettamente con lo stide della tua palestra.</p>
    </div>
    <div class="feature-box glassmorphism">
        <h3>Risparmio</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, beatae ullam incidunt et dicta numquam!
        </p>
    </div>
</div>