<div class="section-title-container">
    <h2>Vantaggi</h2>
    <span class="subtitle">Cosa ci rende unici</span>
    <p>A differenza dei grandi produttori di attrezzature per palestre siamo vicini alle necessità dei nostri partner e siamo sempre pronti ad ascoltare le vostre esigenze.</p>
</div>
<div class="feature-box-container">
    <div class="feature-box glassmorphism">
        <h3>Stretching passivo</h3>
        <p>Il motore elettrico ad alta precisione e le varie possibilità di regolazione della panca stretching la rendono uno strumento eccellente che può essere utilizzato da tutti.</p>
        <p>La regolazione progressiva del pistone consente di migliorare con l’allungamento desiderato, rendendo lo stretching accessibile e piacevole anche ai meno flessibili.</p>
    </div>
    <div class="feature-box glassmorphism">
        <h3>Personalizzazione</h3>
        <p>E' possibile richiedere la panca stretching nel colore desiderato, integrandosi
            perfettamente con lo stile della tua palestra.
        </p>
        <p>Puoi personalizzare sia il colore della seduta in ecopelle che della struttura in alluminio.</p>
    </div>
    <div class="feature-box glassmorphism">
        <h3>Risparmio</h3>
        <p>Rispetto alle alternative offerte dai grandi produttori di attrezzature per palestre la nostra panca stretching è accessibile a tutti.</p>
    </div>
</div>