$header-height: 70px;

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 10000;
    /* transform: translateY(-100%); */
    border-left: none;
    border-right: none;
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-container {
        display: inline-block;
        min-width: 50px;
        min-height: 70%;
        background-color: red;
    }

    nav {
        height: 50%;
    }

    .menu-link {
        color: var(--color-bright);
    }
}