#main-slider {
    --overlay-opacity: 0.2;
    --overlay-color: rgba(0,0,0,var(--overlay-opacity));
    background-image: url("/Images/hero-image.jpg");
    background-image: -webkit-image-set(
        url("/Images/hero-image.jpg") type("image/jpg")
    );
    background-image: image-set(
        url("/Images/hero-image.jpg") type("image/jpg")
    );
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px var(--overlay-color);
    color: var(--color-bright, white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    text-align: justify;
    position: relative;

    h1,p,.btn-container {
        z-index: 1;
    }

    h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }

    p {
        font-size: 1.1em;
        margin-bottom: 1.7em;
        max-width: 800px;
    }

    .btn-container {
        margin-bottom: 4em;

        .btn {
            margin-bottom: 1em;
        }
    }

    a {
        color: var(--color-bright, white);

        &:first-of-type {
            margin-right: 10px;
            background-color: var(--color-accent);
            background: var(--linear-gradient-accent);
        }
    }

    .btn:nth-of-type(2) {
        &:focus {
            outline-color: var(--color-accent,red);
        }
    }

    &::before {
        content: "";
        color: white;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(
            0deg, black, black 25%, transparent 55%, transparent
        );
        opacity: 0.3;
        position: absolute;
    }
}

#features {
    display: flex;
    flex-wrap: wrap;
/*     background-image: url("https://cdn.pixabay.com/photo/2016/08/01/14/44/fist-1561157_1280.jpg") ;
 */

/*     background-image: url("https://images.unsplash.com/photo-1517838277536-f5f99be501cd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80"); */
    background-image: url("https://burst.shopifycdn.com/photos/exercise-stretch.jpg?width=1850&format=pjpg&exif=1&iptc=1");

    .feature-box {
        height: 70vh;
        padding: 2em;
        margin: 20px 0;
        max-width: 300px;
        max-height: 450px;

        h3 {
            &::after {
                content: "";
                background-color: var(--color-accent);
                display: block;
                height: 2px;
                width: 100%;
                position: relative;
                top: 5px;
            }
        }


    }

    @media screen and (min-width: 768px) {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;

        .feature-box {
            flex-basis: 25%;
            &:not(:last-of-type) {
                margin-right: 3vw;
            }
        }
    }
}


#contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
/*     background: url("https://cdn.pixabay.com/photo/2016/08/01/14/44/fist-1561157_1280.jpg"); */


    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3em 1em;
        margin: 0 auto;
        max-width: 500px;
        width: 100%;

        h2 {
            margin-top: 0;
            text-align: center;
        }
        label {
            width: 100%;
            margin-bottom: 0.7em;
            input {
                margin-top: 0.2em;
                width: 100%;
                height: 2.3em;
                box-sizing: border-box;
            }
        }
        .btn {
            background-color: var(--color-accent,red);
            background: var(--linear-gradient-accent);
            color: var(--color-bright,white);
            border: none;
            align-self: flex-start;
        }

    }
}

#about-us {
    display: flex;
    flex-direction: column;
    gap: 50px;

    img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    h2 {
        margin: 0;
    }

    .social-container {
        margin: 1em 0;
        display: flex;
        gap: 10px;
        .social-link {
            display: inline-block;
            aspect-ratio: 1/1;
            max-width: 25px;
            transition: var(--transition-default);

            img {
                width: 100%;
            }

            &:hover {
                transform: var(--transform-scale-default);
            }
        }
    }

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & > img, & > .column {
            max-width: 40%;
        }

        .column {
            padding: 0 20px;
        }

        p {
            text-align: justify;
        }


    }
}