#main-slider {
    --overlay-opacity: 0.2;
    --overlay-color: rgba(0,0,0,var(--overlay-opacity));
    background-image: url("/Images/hero-image.jpg");
    background-image: -webkit-image-set(
        url("/Images/hero-image.jpg") type("image/jpg")
    );
    background-image: image-set(
        url("/Images/hero-image.jpg") type("image/jpg")
    );
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px var(--overlay-color);
    color: var(--color-bright, white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    text-align: justify;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;

    h1,p,.btn-container {
        z-index: 1;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 0;
    }

    p {
        font-size: 1.1em;
        margin-bottom: 1.7em;
        max-width: 800px;
    }

    .btn-container {
        margin-bottom: 4em;

        .btn {
            margin-bottom: 1em;
        }
    }

    a {
        color: var(--color-bright, white);

        &:first-of-type {
            margin-right: 10px;
            background-color: var(--color-accent);
            background: var(--linear-gradient-accent);
        }
    }

    .btn:nth-of-type(2) {
        &:focus {
            outline-color: var(--color-accent,red);
        }
    }

    &::before {
        content: "";
        color: white;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(
            0deg, black, black 25%, transparent 55%, transparent
        );
        opacity: 0.3;
        position: absolute;
    }

    @media screen and (min-width: 768px) {
        h1 {
            font-size: 4rem;
        }
    }
}

#features {
    padding: 50px var(--padding-section-horizontal);

    h2 {
        margin: 0;
    }

    .feature-box-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .feature-box {
        height: 55vh;
        padding: 20px;
        box-sizing: border-box;

        h3 {
            font-size: 1.4em;
            &::after {
                content: "";
                background-color: var(--color-accent);
                display: block;
                height: 2px;
                width: 100%;
                position: relative;
                top: 5px;
            }
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 0;

        .section-title-container {
            width: 100%;
            text-align: center;
        }

        .feature-box-container {
            width: 100%;
            flex-direction: row;
            gap: 40px;
            justify-content: center;
        }

        .feature-box {
            margin: 20px 0;
            width: 400px;
        }
    }
}

#gallery {
    display: flex;
    align-items: center;
    gap: 50px;
    .section-title-container {
        justify-self: start;
        align-self: center;
        h2 {
            margin: 0;
            font-size: 4em;
        }
    }
    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        .image-container {
            width: 100%;
            aspect-ratio: 1/1;
            background-color: lightblue;
            overflow: hidden;
            position: relative;
            &:hover .hover-cover {
                transform: translateY(0);
            }
        }
    }

    .hover-cover {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background: var(--linear-gradient-accent);
        color: var(--color-bright);
        transition: 700ms ease;
        transform: translateY(-101%);
        padding: 30px;
        box-sizing: border-box;
    }

    @media screen and (min-width: 768px) {
        .grid {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            .section-title-container {
                grid-area: 1/1/2/3;
            }
        }
    }
}


#contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
/*     background: url("https://cdn.pixabay.com/photo/2016/08/01/14/44/fist-1561157_1280.jpg"); */


    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3em 1em;
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
        box-sizing: border-box;

        h2 {
            margin-top: 0;
            text-align: center;
        }
        label {
            width: 100%;
            margin-bottom: 0.7em;
            input {
                margin-top: 0.2em;
                width: 100%;
                height: 2.3em;
                box-sizing: border-box;
            }
        }
        .btn {
            background-color: var(--color-accent,red);
            background: var(--linear-gradient-accent);
            color: var(--color-bright,white);
            border: none;
            align-self: flex-start;
        }

    }
}

#about-us {
    display: flex;
    flex-direction: column;
    gap: 50px;

    img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    h2 {
        margin: 0;
    }

    .social-container {
        margin: 1em 0;
        display: flex;
        gap: 10px;
        .social-link {
            display: inline-block;
            aspect-ratio: 1/1;
            max-width: 25px;
            transition: var(--transition-default);

            img {
                width: 100%;
            }

            &:hover {
                transform: var(--transform-scale-default);
            }
        }
    }

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & > img, & > .column {
            max-width: 40%;
        }

        .column {
            padding: 0 20px;
        }

        p {
            text-align: justify;
        }


    }
}