@use "./typography.scss";
@use "./index.scss";

html {
    --color-bright: white;
    --color-dark: black;
    --color-accent: #e52b36;
    --transform-scale-default: scale(1.05);
    --transition-default: 350ms ease;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

section {
    padding: 0 20px;
    border-bottom: 1px solid black;

    @media screen and (min-width: 768px) {
        height: 100vh;
    }
}

.btn {
    display: inline-block;
    background-color: var(--color-dark, black);
    padding: 12px;
    border-radius: 5px;
    transition: var(--transition-default, 350ms ease);
    cursor: pointer;
    min-width: 7.5em;

    &:hover {
        transform: var(--transform-scale-default,scale(1.05));
    }

    &::first-letter {
        text-transform: capitalize;
    }

    &:focus {
        outline-color: var(--color-dark,black);
        outline-style: solid;
        outline-offset: 0;
        outline-width: 2px;
    }
}

a {
    text-decoration: none;
}

input {
    padding: 0 0.5em;
    &:focus {
        outline-color: var(--color-accent,red);
    }
}



