<div class="grid">
    <div class="section-title-container">
        <h2>Gallery</h2>
        <span class="subtitle">Alcuni dettagli sul prodotto</span>
        <p>Sono le piccole cose a fare una grande differenza, scopri tutti i vantaggi del nostro prodotto cliccando sulle foto.</p>
    </div>
    <div class="image-container glassmorphism">
        <img src="/assets/images/pulsante-mano-laterale.jpg" alt="">
        <div class="hover-cover">
            <h3>Motore elettrico</h3>
            <p>Regola l’intensità del tuo stretching tramite un pulsante.</p>
        </div>
    </div>
    <div class="image-container glassmorphism">
        <img src="/assets/images/struttura-alluminio.jpg" alt="">
        <div class="hover-cover">
            <h3>Struttura in alluminio</h3>
            <p>La panca è leggera, con un peso inferiore a 50kg.</p>
        </div>
    </div>
    <div class="image-container glassmorphism">
        <img src="/assets/images/dettaglio-ecopelle.jpg" alt="">
        <div class="hover-cover">
            <h3>Seduta in ecopelle</h3>
            <p>La seduta in ecopelle è disponibile in più colori.</p>
        </div>
    </div>
    <div class="image-container glassmorphism">
        <img src="/assets/images/appoggio-piedi.jpg" alt="">
        <div class="hover-cover">
            <h3>Appoggio piedi regolabile</h3>
            <p>La panca si adatta alla tua altezza per offrirti un angolo ottimale di stretching.</p>
        </div>
    </div>
    <div class="image-container glassmorphism">
        <img src="/assets/arctech-panca.gif" alt="" loading="lazy">
        <div class="hover-cover">
            <h3>Arctech</h3>
            <p>La panca stretching regolabile, personalizzabile e accessibile.</p>
        </div>
    </div>
    <div class="image-container glassmorphism">
        <img src="/assets/images/dettaglio-presa.jpg" alt="">
        <div class="hover-cover">
            <h3>Alimentatore standard 12V</h3>
            <p>Consumo di corrente estremamente contenuto. (48 Watt quando azionato)</p>
        </div>
    </div>
</div>