<div class="grid">
    <div class="section-title-container">
        <h2>Gallery</h2>
        <span class="subtitle">Le nostre foto migliori</span>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam beatae odit voluptatibus libero tempore inventore laboriosam saepe nisi at dicta.</p>
    </div>
    <div class="image-container glassmorphism">
        <img src="https://loremflickr.com/512/512" alt="">
        <div class="hover-cover">
            <h3>Motore elettrico</h3>
            <p>Regola la posizione del supporto per le gambe tramite un pulsante.</p>
        </div>
    </div>
    <div class="image-container glassmorphism">
        <img src="https://loremflickr.com/512/512" alt="">
        <div class="hover-cover">
            <h3>Struttura in alluminio</h3>
            <p>La panca è leggera, con un peso inferiore a 50kg.</p>
        </div>
    </div>
    <div class="image-container glassmorphism">
        <img src="https://loremflickr.com/512/512" alt="">
        <div class="hover-cover">
            <h3>Seduta in ecopelle</h3>
            <p>Testo da inserire</p>
        </div>
    </div>
    <div class="image-container glassmorphism">
        <img src="https://loremflickr.com/512/512" alt="">
        <div class="hover-cover">
            <h3>Appoggio piedi regolabile</h3>
            <p>La panca si adatta alla tua altezza per offrirti un angolo ottimale di stretching.</p>
        </div>
    </div>
    <div class="image-container glassmorphism">
        <img src="https://loremflickr.com/512/512" alt="">
        <div class="hover-cover">
            <h3>Grip antiscivolo</h3>
            <p>La panca ha due maniglie a cui puoi tenerti saldamente</p>
        </div>
    </div>
    <div class="image-container glassmorphism">
        <img src="https://loremflickr.com/512/512" alt="">
        <div class="hover-cover">
            <h3>Alimentatore standard 12V</h3>
            <p>Consumo di corrente estremamente contenuto. (48 Watt quando azionato)</p>
        </div>
    </div>
</div>